.footer_div {
   
    flex-direction: column;
    width: 100vw;
    position: relative;
    bottom: 0;
    
}

.footer1 {
    margin: auto;
    margin-top: 10px;
    font-size: 20px;
    flex: 1;
    text-align: center;
}
