body {
  margin: 0;
}

div {
  font-family: "NotoSansKR", sans-serif;
  /* NotoSansKR 폰트를 적용 */
}



.header {
  height: 200px;
  width: 100vw;
  position: relative;
  display: table;
  line-height: 200px;
  text-align: center;
  background-position: top center;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.header::before {
  content: "";
  background-image: url(../assets/search_result2.jpg);
  background-size: cover;
  min-width: 100%;
  background-repeat: no-repeat;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

.resultcheck-body {
  position: relative;
  width: 65vw;
  height: auto;
  margin-top: 5vh;
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resultcheck-flex {
  width: 40vw;
  height: 10vh;
  color: black;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 1vh;
  cursor: pointer;
  border-bottom: 1px solid #cfd8dc;
  justify-content: center;
  align-items: center;
}

.left {
  flex: 4;
  margin-left: 2.5vw;
  font-size: 15px;
  color: #546e7a;
  margin-bottom: 1vh;
}

.left:hover {
  background-color: #f5f5f5;
}

.right {
  flex: 1;
  margin-right: 2.5vw;

}

/* .btn {
  position: relative;
  background: #03a9f4;
  font-size: 14   px;
  border-radius: 6px;
  font-weight: bold;
}
.btn:hover{
  color: #67daff;
} */

.table_body {
  width: 65vw;
}

.result_table_body {
  text-align: center;
  justify-content: center;
}

.result_table_r {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.tableListIndex {
  text-align: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
}

.tableListTitle {
  text-align: center;
}

.result_btn {
  position: relative;
  background: lightblue;
  font-size: 15px;
  border-radius: 6px;
  height: 30px;
  font-weight: bold;
  width: 60px;
  border: none;
}

.result_btn:hover {
  color: #67daff;
}

@media (max-width: 768px) {
  .resultcheck-body {
    margin-top: 50px;
    margin: auto;
    width: 90vw;
  }

  .table_body {
    margin-top: 50px;
    text-align: center;
    width: 87vw;
    font-size: 12px;
  }

  .tableListIndex {
    padding-right: 6px;
    padding-left: 8px;
  }

  .result_btn {
    width: 40px;
    height: 28px;
    font-size: 13px;
  }

}